body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(air.jpg);
    background-size: cover;
    color: white;
    background-position: center;
}
.notification{
   
    font-size: 20px;
}
.app>div{
    margin: 10px;
   font-weight: 500;
    font-size: 20px;
}

h1{
    border-bottom: 1px white solid;
}
span{
    font-weight: 700;
}
.app{
border: 1px white solid;
border-radius: 7px;
backdrop-filter: blur(35px);
}